
.slider {
  position: relative;
  top: 40px;
  left: 440px;
}

.slider-tray {
  position: absolute;
  width: 50%;
  height: 6px;
  border: solid 1px darkslateblue;
  border-top-color: darkslateblue;
  border-radius: 6px;
  background-color: lightsalmon;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.08);
}

.slider-handle {
  position: absolute;
  top: 0px;
}

.slider-handle-icon {
  width: 20px;
  height: 20px;
  border: solid 3px dodgerblue;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
}

